.row{
	    margin-right: 0px !important; 
    	margin-left: 0px !important;
}
hr{
	margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #47c7f7;
    width:100%;
}
  .dropdown-item{
  	color: #117a8b;
    font-family: Poppins-Regular;
    font-size: 18px;
  	}  
  	.bgclr:hover{
  		background: #fff6f0 !important;
  	} 
  	.dropdown-item:active {
  	    background-color: transparent !important;
}
.dropdown-item:hover {
  	   background: #fff6f0 !important;
}
.bgclr{
  display: inline-flex;
}
h5 {
    margin-left: 15px;
    margin-top: 20px;
}
.dropdown-divider {
    border-top: 1px solid #47c7f7 !important;
}