
 
 <nav class="navbar navbar-expand-md bg-dark navbar-dark" >
  
 <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1"> -->
    <span *ngIf="auth.isLoggednIn()" (click)="showNav()">&#9776;</span>
  <!-- </button> -->
  <a class="navbar-brand" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar1"> 

    <ul class="navbar-nav">
      <div class="wrapper" *ngIf="auth.isLoggednIn()" >
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/images/sidebar-1.jpg">
      <div class="logo">
      <a class="closebtn" (click)="closeNav()" style="display: none;">&times;</a>
        <a  class="simple-text logo-normal">
          {{headername}}
        </a>
      </div>
      <div class="sidebar-wrapper">

        <ul class="nav">
          <li class="nav-item   ">
            <a class="nav-link" href="">
            <i class="fa fa-home" aria-hidden="true"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink = "/createproject">
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <p>Add Project</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/invite">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <p>Invites</p>
            </a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link" routerLink = "/notification">
            <i class="fa fa-bell" aria-hidden="true"></i>
              <p>Notifications</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
 </div>
    </ul>
</div>
  <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
    <!-- <ul class="navbar-nav">
      <div class="wrapper" *ngIf="auth.isLoggednIn()" >
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/images/sidebar-1.jpg">
      <div class="logo">
        <a  class="simple-text logo-normal">
          {{headername}}
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item   ">
            <a class="nav-link" href="">
            <i class="fa fa-home" aria-hidden="true"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink = "/createproject">
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <p>Add Project</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/invite">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <p>Invites</p>
            </a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link" routerLink = "/notification">
            <i class="fa fa-bell" aria-hidden="true"></i>
              <p>Notifications</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
 </div>
    </ul> -->
  <ul class="navbar-nav logout">

   <li class="nav-item">
        <a class="nav-link btns" *ngIf="!auth.isLoggednIn()" routerLink="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btns"  *ngIf="!auth.isLoggednIn()" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item dropdown" *ngIf="auth.isLoggednIn()">
         <a class="nav-link" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-divs"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" routerLink = "/createproject" >Add Project.....
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item leftt" routerLink = "/invite" >Invite.....</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="auth.isLoggednIn()">
      <div *ngIf="datas?.length <= 0;else assignTaskdiv">
        <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-divs"><i class="fa fa-bell notybelll" aria-hidden="true"></i></div>
        </a> 
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <p class="notifp" style="font-family: Poppins-Regular !important;">No Notification</p>
         </div>
        </div>
        <ng-template #assignTaskdiv>
         <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-divs"><span class="notispn">{{length}}</span><i class="fa fa-bell notybelll" aria-hidden="true"></i></div>
        </a> 
        
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div *ngFor="let notification of datas;let ind = index ">
<a class="dropdown-item" (click)="asseptnotification(notification.user,notification.projectid,notification._id, notification.invite)"> {{notification.notify}}</a>
          <div class="dropdown-divider"></div>
          </div>
        </div>
        </ng-template>
      </li>
      <li class="nav-item dropdown" *ngIf="auth.isLoggednIn()">
        <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-divs"><i class="fa fa-user" aria-hidden="true"></i></div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink = "/home" >
            <div class="dropdown-div"><img class="dropdown-img" src="assets/images/ninja-avatar-96x96.png" alt="IMG"></div>
            <span>{{email}}</span> 
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item leftt" routerLink = "/home" ><i class="fa fa-sliders" aria-hidden="true"></i> Account Setting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item leftt" (click)="auth.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          
        </div>
      </li>
    </ul> 
    </div> 
</nav>
