 <app-header></app-header>
<div class="limiter">
    <div class="container-login100">
   
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="assets/images/img-01.png" alt="IMG">
        </div>

        <form class="login100-form validate-form" #forms="ngForm" (ngSubmit)="login(form)">
          <span class="login100-form-title">
            Employee Login
          </span>

          <div class="wrap-input100 validate-input" [class.has-error]="email.invalid && email.touched">
            <input class="input100" type="email" name="email" placeholder="Email" required #email="ngModel" [email]="form.email!==''" [(ngModel)]="form.email" >
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <span class="help-block" *ngIf="email.errors?.email && email.touched"> Email Is Invalid</span>

          <div class="wrap-input100 validate-input" [class.has-error]="password.invalid && password.touched"> 
            <input class="input100" type="password" id="password" placeholder="Password"  #password="ngModel" [(ngModel)]="form.password"  name="password" value="" required minlength="4">
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
           <span class="help-block" *ngIf="password.errors?.required && password.touched"> Password Is Required</span>

          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn btn" [disabled]="!forms.valid">
              Login
            </button>
          </div>

           <div class="text-center p-t-12">
           <span class="txt1">
              Forgot
            </span>
            <span class="txt2" data-toggle="modal" data-target="#myModal">Username / Password?</span>
            <!-- <a class="txt2" href="#">
              Username / Password?
            </a> -->
            <p class="red" id="show">{{datas}}</p> 
          </div> 
        </form>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
              <form class="validate-form" #formres="ngForm" (ngSubmit)="resendpassword(form)">
                <div class="modal-header">
                  <h4 class="modal-title">If You Forgot Your Password</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  
                   <div class="wrap-input100 validate-input" [class.has-error]="email.invalid && email.touched">
                   <label for="email">Email Id</label>
                    <input class="input100" type="email" name="email" placeholder="Email" required #email="ngModel" [email]="form.email!==''" [(ngModel)]="form.email" >
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <span class="help-block" *ngIf="email.errors?.email && email.touched"> Email Is Invalid</span>
                  
                </div>
                
                <div class="modal-footer">
                <span class="notreg">{{resenddata}}</span>
                  <button type="submit" class="form-btn sendbtn" [disabled]="!formres.valid">
              Send
            </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </form>
              </div>
              
            </div>
          </div>
      </div>
    </div>
  </div>
