.frmcls{
	border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(218, 212, 212, 0.56), 0 4px 25px 0px rgba(16, 16, 16, 0.12), 0 8px 10px -5px rgba(243, 236, 236, 0.2);
}
.mrgn{
	margin-top: 30px;
}
.form-control:focus {
    border-color: #ccc !important;
    box-shadow: 0 0 0 0 rgb(71, 199, 247) !important;
}
.login100-form-title{
	font-size: 18px;
}
.form-control {
    background-color: transparent !important;
    border: 1px solid #aba8a6 !important;
}