.row{
  margin-left: 0px;
  margin-right: 0px;
}
.frmcls{
    width: 70%;
    padding: 10px 0px 25px 0px;
    border-radius: 4px;
    margin-top: 5rem;
    box-shadow: 0 16px 38px -12px rgba(218, 212, 212, 0.56), 0 4px 25px 0px rgba(16, 16, 16, 0.12), 0 8px 10px -5px rgba(29, 28, 28, 0.2);
    margin-bottom: 1rem;
}
.imgspn input[type=file] {
    position: absolute;
    left: 35px;
    top: 0px;
    opacity: 0;
}
.imgspn{
    position: relative;
    overflow: hidden;
    margin-top: 35px;
  }
#btss1 {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  border-radius: 4px;
  font-size: 15px;
  margin: 10px;
}
.img{
   border-radius: 2.5rem;
    width: 85px;
    height: 85px;
} 
.img2{
    display: none;
    border-radius: 2.5rem;
    width: 85px;
    height: 85px;
} 
.acls{
    color: #222629;
    text-decoration: none;
    background-color: transparent;   
} 
.clssp{
  border: 1px solid #ccc;
  padding: 7px 26px;
  border-radius: 3px;
}
.clssp:hover{
  color: #47c7f7 !important;
}
.acls:hover{
  color: #47c7f7;
  text-decoration: underline;
}
.icls:hover{
  color: #47c7f7;
}
.emojispn{
  position: absolute;
    /* top: -1px; */
    bottom: 10px;
    right: 16px;
}
.emoji{
  position: relative;
}
h5{
  padding-left: 18px;
}
@media (max-width: 768px) {
.frmcls{
    width: 100% !important;
}
}

.emoji-search input{
  width: 100% !important;
}