/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body{
    font-family: cursive !important; 
}

.green{
	color: #109410;
}
p{
	font-family: cursive; 
}
.btn-primary{
	color: #fff;
    background-color: #9743bb !important;
    border-color: #9643bb !important;
}
.btn-primary:hover{
	color: #fff;
    background-color: #7db3de !important;
    border-color: #81b8e4 !important;
}
.btn-primary:active{
	color: #fff;
    background-color: #9743bb !important;
    border-color: #9643bb !important;
}
h5{
    font-size: 1.60rem !important;
    font-family: cursive !important;
}
.btn-primary:active:focus{
    box-shadow: 0 0 0 0 rgba(234, 235, 236, 0.5) !important;
}
.notifier__container ul li.notifier__container-list{
    display: inline-flex !important;
}
#MessageBox{
    text-align: center;
    color: #fff;
    background: linear-gradient(-135deg, #d46ecd, #47c7f7);
}