/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.green{
	color: #109410;
}
p{
	font-family: sans-serif; 
}
.btn-primary{
	color: #fff;
    background-color: #47c7f7 !important;
    border-color: #47c7f7 !important;
}
.btn-primary:hover{
	color: #fff;
    background-color: #47c7f7 !important;
    border-color: #47c7f7 !important;
}
.btn-primary:active{
	color: #fff;
    background-color: #47c7f7 !important;
    border-color: #47c7f7 !important;
}
h5{
    font-size: 1.60rem !important;
}