<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
<!--       <app-slidbar></app-slidbar> -->
    </div>
    <div class="col-md-10">
      <div class="row">
       <div class="col-sm-12">
        <div class="col-md-3 fltrmd">
     <input type="text" [(ngModel)]="searchText" placeholder="search text goes here" class="form-control searchflt">
     <span class="searchspn"><i class="fa fa-search faic" aria-hidden="true"></i></span>
     </div>
     </div>
<!-- <ul>
  <li *ngFor="let c of forms | filterpipe : searchText">
    {{c.name}}
  </li>
</ul> -->
      	<div class="col-md-3" *ngFor="let project of forms | filterpipe : searchText;let ind = index ">
          <div class="col-sm-12 md3" >
            <div [attr.class]="'hidediv' +ind">
              <div (click)= "createTask(project.name,project._id)">
            		<h5>{{project.name}}</h5>
                <span class="pdng">Create New Task</span><br>
              </div>
              <span class="pdngs" (click) ="showtoggle(ind)"><i class="fa fa-pencil-square-o" aria-hidden="true" title="edit"></i></span>
              <span class="right" (click) = "confirmdelete('demo' +ind)"><i class="fa fa-trash" aria-hidden="true" title="Delete"></i></span>
              <div [attr.id]="'demo' +ind" class="collapse deletdm">
                <p>Are you sure to delete the Project?</p>
                <button type="submit" class="btn-danger" (click) ="deleteProject(project._id)">Yes</button>
                <button type="button" class="no" (click) = "nodelete('demo' +ind)">No</button>
              </div>
            </div>
            <div [attr.class]="'showclstdiv' +ind" style="display: none">
              <form class="frmcls" id="commentform" #forms="ngForm" (ngSubmit)="updatproject(forms.value)">
                  <div>
                    <input type="hidden" id="id" name="id" [(ngModel)]="project._id"/>
                    <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="project.name"/>
                    </div>
                  </div>
                  <div class="inln">
                  <button type="submit" class="btn btn-primary cretsk" [disabled]="!forms.valid">Save</button>
                  <span (click)="hidetoggle(ind)" id="bt" class="hideshow">
                    <button type="button" class="close" style="font-size: 37px;">&times;</button>
                </span>
                </div>
              </form>
            </div>
          </div>
      	</div>
      	<div class="col-md-3">
          <div class="col-sm-12 md4">
      	    <a class="navbar-link" routerLink = "/createproject" > + Create New Project....</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let acceptproject of datas;let ind = index ">
          <div class="col-sm-12 md3" (click)= "createAssignTask(acceptproject.projectname,acceptproject.projectid)">
            <h5>{{acceptproject.projectname}}</h5>
            <span class="pdng">Create New Task</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>